/* ----------------------------------
   FONTS / RESET
---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------
   TEXT STYLES
---------------------------------- */
h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #260101;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000;
}

/* ----------------------------------
   HEADER + NAV
---------------------------------- */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-link {
    text-decoration: none;
    color: #260101;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
}

.nav-link:hover {
    transform: scale(1.07);
    color: #5e0c0c;
}

/* ----------------------------------
   TOP SECTION
---------------------------------- */
.top-section {
    display: flex;
    justify-content: center;    
    align-items: center;               
    padding: 60px 10%;
    background: #ffffff;
}
/* LEFT COLUMN TEXT */
.page-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    left:300px;
}

/* RIGHT COLUMN IMAGE */
.image-block {
    width: 40%;             
    position: relative;
    display: flex;
    justify-content: center;
    left:-100px;
}

.top-img-txt{
    width: 80%;
    align-items: baseline;
}

/* FACE IMAGE */
.face {
    width: 360px;
    height: auto;
    display: block;
}

/* EYES LAYER */
.eye-div {
    position: absolute;   
    top: 145px;         
    left: 110px;
    z-index: 9999;    
}

/* INDIVIDUAL EYES */
.eye-left,
.eye-right {
    position: absolute;
}

/* left eye */
.eye-left {
    left: -40px;
    top:-71px;
    width: 150px;
}

/* right eye */
.eye-right {
   left: 30px;
   top:-50px;
    width: 170px;
}

/* ----------------------------------
   INTRO TEXT SECTION
---------------------------------- */
.introduction-section {
    padding: 40px 10%;
    background-color: #fff;
    margin-top: 40px;
}
